button {
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding: 1rem;

    background: #63A355;
    color: #FFFFFF;
    transform: scale(1);
    transition: transform 200ms;
}

button:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 200ms;
}