.riffa-product-content {
    width: 80%;
    // height: 25rem;
    // background: #FF5687;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.riffa-product-content img {
    height: 46rem;
}