* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: white;
}

div#page {
  width: 100%;
  background-color: #f1faee;
}

div#page::before {
  content: '';
  width: 100%;
  height: 40%;
  background: #1d3557;
  position: absolute;
  top: 0;
  left: 0;
}

div#page header {
  width: 124rem;
  height: 20rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #f1faee;
  position: relative;
}

.rifa-primary-content {
  width: 124rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  background: #457b9d;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  padding: 2.5rem 0 2.5rem;
}

#rifa-header-and-catalog {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 2rem 2rem 0 0;
  // background-color: #a8dadc;
  border: solid 1px #a8dadc;
}

#rifa-header {
  $color: #a8dadc;
  $alpha: 0.8;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  
  border-bottom: 2px solid white;
  background-color: rgba($color, $alpha);
  border-radius: 2rem 2rem 0 0;
}

#header-description {
  display: flex;
  gap: 1.5rem;
  min-width: 24rem;
}

.number-status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

#selected-numbers {
  width: 2rem;
  height: 1.5rem;
  background-color: #ee2a3a;

  border-radius: 5px;
}

#non-selected-numbers {
  width: 2rem;
  height: 1.5rem;
  background-color: #67eb86;

  border-radius: 5px;
  flex: none;
}

#numbers-catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;

  padding-bottom: 2.5rem;
}

